{% macro kpi_card(title, value, icon, color_type='info', spark_color='#2563EB') %}
<div class="kpi-card">
    <div class="kpi-top">
        <span class="kpi-label">{{ title }}</span>
        <div class="kpi-icon-wrapper kpi-icon-{{ color_type }}">
            <i class="fa-solid {{ icon }}"></i>
        </div>
    </div>
    <div class="kpi-main">
        <div>
            <div class="kpi-value">{{ value|safe }}</div>
            <span class="kpi-subtext">Equipos</span>
        </div>
        <svg class="kpi-sparkline" viewBox="0 0 70 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 18L14 12L26 19L38 6L50 14L68 4" stroke="{{ spark_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
</div>
{% endmacro %}
